<a href="#main-content" class="sr-only focus:not-sr-only focus:absolute focus:left-4 focus:top-4 focus:z-50 focus:bg-white focus:px-3 focus:py-2 focus:outline-none focus:ring-2 focus:ring-black/80">
  Skip to content
</a>
